<nav class="flex items-center justify-between w-full p-5 bg-indigo-500 shadow-lg">
  <div class="logo">
    <span class="flex items-center justify-start text-4xl text-gray-200"
      >BookMyBook</span
    >
  </div>
  <div *ngIf="isLoggedIn" class="relative search">
    <span class="absolute mt-1.5 mx-3  font-light"> <i class="fa fa-search" aria-hidden="true"></i></span>
    <input
      type="text"
      placeholder="Search Book"
      class="p-2 text-gray-600 rounded rounded-r-none w-96 pl-9"
    />
    <button class="p-2 text-gray-600 bg-gray-200 rounded rounded-l-none">
     Search
    </button>
  </div>
  <div class="nav-items">
    <ng-container *ngIf="!isLoggedIn">
      <span routerLink="/login" class="m-3 text-lg font-bold text-gray-200 cursor-pointer hover:underline hover::text-indigo-200">Login</span>
      <span routerLink="/register" class="m-3 text-lg font-bold text-gray-200 cursor-pointer hover:underline hover::text-indigo-200">Register</span>
    </ng-container>
    
    <ng-container *ngIf="isLoggedIn">
      <span routerLink="" class="m-3 text-lg font-bold text-gray-200 cursor-pointer hover:underline hover::text-indigo-200">Cart</span>
      <span routerLink="" class="m-3 text-lg font-bold text-gray-200 cursor-pointer hover:underline hover::text-indigo-200">Welcome User</span>
      <span (click)="logout()" routerLink="/login" class="m-3 text-lg font-bold text-gray-200 cursor-pointer hover:underline hover::text-indigo-200">Logout</span>
    </ng-container>
    
  </div>
</nav>
